{% extends "base.html" %}
{% set active_page = "monitoring" %}

{% block meta_title %} Monitoring {% endblock %}
{% block meta_descr %} Services monitoring {% endblock %}

{% block content %}

    {% if object_list %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Service name</th>
                <th>State</th>
                <th>Extra info</th>
            </tr>
            </thead>
            <tbody>
            {% for service in object_list %}
                <tr class="{% if service.state %}success{% else %}warning{% endif %}">
                    <td>{{ service.name }}<br/>{{ service.comment }}</td>
                    <td>{% if service.state %}Online{% else %}Offline{% endif %}</td>
                    <td>{{ service.info }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">There is no services yet</div>
    {% endif %}

{% endblock %}
