{% extends "base.html" %}
{% set active_page = "news" %}

{% block meta_title %} News aggregation {% endblock %}

{% block meta_descr %} News aggregation {% endblock %}


{% block content %}

    {% if object_list.items %}
        {% for news in object_list.items %}
            <div class="blog-post">
                <div class="blog-post-content">
                    <p><b>{{ news.pub_date.strftime('%H:%M %d.%m.%Y') }}:</b> {{ news.title }}</p>
                    <a href="{{ news.link }}" target="_blank" type="button" class="btn btn-default"
                       data-toggle="tooltip"
                       data-placement="bottom"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        Original</a>
                    {% if news.content %}
                        <button type="button" class="btn btn-default" position="bottom" data-toggle="popover"
                                title="saved {{ news.save_date.strftime('%H:%M (GMT) %d.%m.%Y') }}"
                                data-content="{{ news.content }}">
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Show saved
                        </button>
                    {% endif %}
                    <a href="{{ news.source.url }}" target="_blank" type="button" class="btn btn-default"
                       data-toggle="tooltip"
                       data-placement="bottom">
                        <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span> {{ news.source.name }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">There is no news yet. Is crawler online?</div>
    {% endif %}

{% endblock %}

{% block sidebar_add %}
    <form action="{{ url_for('news.set_filter') }}" method="post">
        <div class="input-group">
            <fieldset>
                <input name="news-filter" type="text" placeholder="filter" class="form-control" value="{{ filter }}">
            </fieldset>
            <span class="input-group-btn">
                <button class="btn" type="submit" style="margin-left: 2px">Apply</button>
            </span>
        </div>
    </form>
    <form action="{{ url_for('news.set_per_page') }}" method="post">
        <div class="input-group">
            <fieldset>
                <select class="form-control" name="news-per-page">
                    <option id="news-per-page-1" value=1>1 per page</option>
                    <option id="news-per-page-5" value=5>5 per page</option>
                    <option id="news-per-page-10" value=10>10 per page</option>
                    <option id="news-per-page-20" value=20>25 per page</option>
                    <option id="news-per-page-50" value=50>50 per page</option>
                    <option id="news-per-page-100" value=100>100 per page</option>
                </select>
            </fieldset>
            <span class="input-group-btn">
                <button class="btn" type="submit" style="margin-left: 2px">Apply</button>
            </span>
        </div>
    </form>
    <a href="{{ url_for('news.csv_dump') }}" target="_blank" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> .csv</a>
    <a href="{{ url_for('news.json_dump') }}" target="_blank" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>json</a>
{% endblock %}

{% block pagination %}
    {% import "pagination.html" as pagination_macros %}
    {{ pagination_macros.render_pagination(object_list, 'news.index') }}
{% endblock pagination %}


{% block extra_js %}
    <script>
        $("[data-toggle=popover]").popover({html: true});
        document.getElementById("news-per-page-{{ per_page }}").setAttribute("selected", true);
    </script>
{% endblock %}