<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{% block meta_title %}{% endblock meta_title %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a id="news" class="blog-nav-item" href="{{ url_for('news.index') }}">Home</a>
            <a id="monitoring" class="blog-nav-item" href="{{ url_for('monitoring.index') }}">Monitoring</a>
        </nav>
    </div>
</div>

{% block pre_container %}
    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">e-ch hpg</h1>
            <p class="lead blog-description">
                {% block meta_descr %}
                {% endblock %}
            </p>
        </div>

        <div class="row">

            {% block pre_content %}
                <div class="col-sm-8 blog-main">

                    {% include "messages.html" %}

                    {% block content %}
                    {% endblock %}

                </div><!-- /.blog-main -->
            {% endblock pre_content %}

            {% block pre_sidebar %}
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module">
                        {% block sidebar_add %}
                        {% endblock %}
                    </div>
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Welcome to Eugene Č. homepage. It's my pet project for news listing and service availability monitoring.</p>
                        <p>UI is written in Python, Flask, Blueprints.<br/>Backend: Scala + SkalikeJDBC, Akka</p>
                        <p><a href="https://bitbucket.org/euch/flask-e">Source code</a></p>
                        <p>Crawler <a href="https://bitbucket.org/euch/crawl-e">source code</a></p>
                        <p><a href="http://netda.ddns.net:8080">Old Homepage</a></p>
                    </div>
                    <div class="sidebar-module">
                        <h4>/me elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://bitbucket.org/euch">BitBucket</a></li>
                            <li><a href="https://twitter.com/eu_ch">Twitter</a></li>
                        </ol>
                    </div>
                </div><!-- /.blog-sidebar -->
            {% endblock pre_sidebar %}

            {% block pagination %}
            {% endblock pagination %}

        </div><!-- /.row -->


    </div><!-- /.container -->
{% endblock pre_container %}

<footer class="blog-footer">
    <p>
        <script type="text/javascript">
            var since_year = 2015;
            var cur_year = new Date().getFullYear();
            var cpr = " © <a href=\"https://twitter.com/eu_ch\">@eu_ch</a>";
            if (since_year === cur_year) {
                document.write(since_year + cpr);
            } else {
                document.write(since_year + " - " + cur_year + cpr);
            }
        </script>
    </p>
    <p>Based on <a href="https://twitter.com/mdo">@mdo</a> source code.</p>
    <p>All trademarks, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

{#{% set active_page = active_page|default('monitoring') -%}#}
<script>
    $(document).ready(function () {
        $("#{{active_page}}").addClass("active");
    })
</script>

{% block extra_js %}
{% endblock %}
</body>
</html>
